<!-- Bootstrap core JavaScript -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="/javascripts/js-cookie.js" defer></script>
<!-- <script type="text/javascript" id="cookiebanner"  src="/javascripts/cookie-banner.js"
     data-message="<%- cookieBanner %>"
     moreinfo-target="https://www.google.com/about/company/consentstaging.html">
></script>-->



<script src="https://cc.cdn.civiccomputing.com/8.0/cookieControl-8.0.min.js"></script>
<script>
    var config = {
        apiKey: 'b0c1b83e3fc89fa55f315ff3a81690b0f4dd2bfd',
        product: 'COMMUNITY',
        position: 'RIGHT',
        theme: 'LIGHT'
    };
    
    CookieControl.load( config );
</script>


<script src="/javascripts/table-sorter.js" defer></script>
<script src="/javascripts/jquery.min.js" defer></script>
<script src="/javascripts/jquery-ui.min.js" defer></script>
<script src="/javascripts/jquery.auto-complete.min.js" defer></script>
<script src="/javascripts/bootstrap.bundle.min.js" defer></script>
<script src="/javascripts/bootstrap-select.min.js"defer ></script>
<script src="/javascripts/slick.js" defer></script>
<script src="/javascripts/main-js.js" defer></script>

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 mt-4">

  <div class="bg-primary1">
    <div class="container">

      <div class="row py-4 d-flex align-items-center">
      </div>

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Microsoft Store Checker</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><%- content_text.navbar.footerDesc %></p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"><%- content_text.navbar.articles %></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        
        <p>
          <a class="dark-grey-text" href="/xbox"><%- content_text.navbar.xbox %></a>
        </p>
        <p>
          <a class="dark-grey-text" href="/accessories"><%- content_text.navbar.accessory %></a>
        </p>
        <p>
          <a class="dark-grey-text" href="/surface"><%- content_text.navbar.surface %></a>
        </p>
        <p>
          <a class="dark-grey-text" href="/deals"><%- content_text.navbar.deals %></a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"><%- content_text.navbar.links %></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="/privacy">Privacy</a>
        </p>
        <p>
        <p>
          <a class="dark-grey-text" href="/blog">Blog</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://microsoft.com">Microsoft Store</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/contacts"><%- content_text.navbar.contact %></a>
        </p>
        <p>
          <a class="dark-grey-text" href="/faq"><%- content_text.navbar.fonction %></a>
        </p>

      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold"><%- content_text.navbar.contact %></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fa fa-home mr-3"></i> contact@microsoft-checker.eu</p>
      </div>

    </div>

  </div>
   
</footer>
                      