    
    <!-- Navigation -->


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/"><img src="/images/logo.svg" class="img-responsive w-50" alt="Microsoft Store Checker"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-nav" href="/xbox"><%= content_text.navbar.xbox %> </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-nav" href="/accessories"><%= content_text.navbar.accessory %></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-nav" href="/surface"><%= content_text.navbar.surface %></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-nav" href="/deals"><%= content_text.navbar.deals %></a>
        </li>
        <li class="nav-item mr-4">
          
        </li>
        <li class="nav-item mr-3 ml-5">
          <a class="nav-link nav-link-nav" href="/faq"><%= content_text.navbar.fonction %></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link nav-link-nav" href="/contacts"><%= content_text.navbar.contact %></a>
        </li>

        <li class="nav-item mx-2">
            
          </li>
      </ul>
      <form class="form-inline ml-auto">
            <div class="input-group" id="search-box">
            <input lang="<%= lang %>" type="text" class="form-control w-25 ml-5 autocomplete" id="search-item" placeholder="<%= content_text.navbar.search %>">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary input-xs" id="btn-search-item" type="button"><i class="material-icons md-18">search</i></button>
              </div>
            </div>
      </form>
          <select class="selectpicker float-right ml-4 " data-width="fit" id="lang-select">
              <option value="en-GB">EN</option>
              <option value="fr-FR">FR</option>
              <option value="de-DE">DE</option>
              <option value="it-IT">IT</option>
              <option value="es-ES">ES</option>
              <option value="pl-PL">PL</option>
          </select>
    </div>
  </nav>
    
    <!-- Header with Background Image -->

    <div class="container">
        <div class="row pt-5">
          <p></p>
        </div>
    </div>
    <!--<div class="container-fluid container-search h-50 align-middle pt-4 pb-2">
      <div class="col-lg-3 row-inline">
        <div class="input-group" id="searcher">
          <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
      </div>
    </div>-->


   